★{
    padding: 0;
    margin: 0;
}

body{
    background-color: #E0E0E0;
    background-image: url(img/back.png);
    background-repeat: no-repeat;
    background-size: 100%;
}
.body1{
    min-height: 100vh;
    width: 100%;
    /* background-color: #E0E0E0; */
    background-position: center;
    background-size: cover;
    position: relative;
    
}
nav{
    display: flex;
    padding: 2% 6%;
    justify-content: space-between;
    align-items: center;
}
.nav-links{
    flex: 1;
    text-align: right;
}
.nav-links ul li{
    list-style: none;
    display: inline-block;
    padding: 8px 6px;
    position: relative;

    margin-right: 25px;
    margin-left: 25px;

}
/* .ru1{
    margin-left: 300px;
    margin-right: 0px;
} */

.eng1{
    padding-left: 500px;
    margin-right: -100px;
}

.course{
    background-color: aliceblue;
}




.nav-links ul li a{
    color: black;
    text-decoration: none;
    font-family: 'Manrope';
    width: 83px;
    height: 16px;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 16px;
    letter-spacing: -0.04em;
}

.Maker1{
    color: black;
    text-decoration: none;
    font-family: 'AmstelvarAlpha';
    width: 83px;
    height: 16px;
    font-style: bold;
    font-weight: bold;
    font-size: 20px;
    line-height: 16px;
    letter-spacing: -0.04em;
    margin-left: -2%;

}

.nav-links ul li::after{
    content: '';
    width: 0%;
    height: 2px;
    background-color: #D39E72;;
    display: block;
    margin: auto;
    transition: 0.3s;

}

.nav-links ul li:hover::after{
    width: 100%;
}

.text-box{
    width: 90%;
    color: rgb(0, 0, 0);
    position: absolute;
    font-family: 'Manrope';
    top: 20%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: left;
    font-size: 85%;
}


.READ{
    display: inline-block;
    text-decoration: none;
    border-top: 2px solid;
    position: relative;
    cursor: pointer;
    color: black;
}

h1{
    display: inline-block;
    text-decoration: none;
    border-bottom: 2px solid;
    position: relative;
    margin-bottom: -5%;
}

.READ:hover{
    color: red;
    transition: 0.5s;
}

.img1{
    display: block;
    margin-top: 10%;
    margin-left: 4.5%;
}

h2{
    width: 90%;
    color: rgb(2, 29, 102);
    position: absolute;
    font-family: 'Adamina';
    top: 35%;
    left: 100%;
    transform: translate(-50%,-50%);
    text-align: left;
    font-size: 700%;
    font-style: normal;
    font-weight: 400;
    letter-spacing: -0.07em;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    
    

}

.css1{
    color: rgb(18, 201, 27);
}

.READ2{
    display: inline-block;
    position: absolute;
    text-decoration: none;
    cursor: pointer;
    color: black;
    top: 53%;
    left: 63%;
    font-family: 'Quicksand';
    font-style: normal;
    font-weight: 300;
    font-size: 40px;
    line-height: 16px;
    letter-spacing: -0.04em;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    background-color:#fa7910;
    border: 20px solid;
    border-radius: 30px;
    border-color: #fa7910;
}

.READ2:hover{
    background-color:#ff1e00;
    border-color: #ff1e00;
    transition: 1s;
}

/* .READ3{
    display: inline-block;
    position: absolute;
    text-decoration: none;
    cursor: pointer;
    color: rgba(0, 0, 0, 0);
    top: 30%;
    left: 45%;
    font-family: 'Quicksand';
    font-style: normal;
    font-weight: 300;
    font-size: 40px;
    line-height: 16px;
    letter-spacing: -0.04em;
    border-top: 2px solid;
    position: relative;
    cursor: pointer;
    border-color: #000000;
    width: 400px;


} */

h3{
    position: absolute;
    width: 38px;
    height: 24px;
    left: 5%;
    top: 71%;
    
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    /* identical to box height, or 150% */
    
    letter-spacing: -0.04em;
    
    color: #000000;
}

h4{
    position: absolute;
    width: 570px;
    height: 184px;
    left: 5%;
    top: 60%;
    text-align: center;

    font-family: 'Adamina';
    font-style: normal;
    font-weight: 400;
    font-size: 110px;
    line-height: 92px;
    /* or 84% */

    letter-spacing: -0.07em;

    color: #5E6166;

    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.html1{
    color: rgb(155, 14, 14);
}

.js1{
    color: #fbfd5e;
}

/* .img2{
    position: absolute;
    width: 289.87px;
    height: 160.36px;
    left: -200px;
    top: 270px;

}

.img3{
    position: absolute;
    width: 289.87px;
    height: 160.36px;
    left: 92%;
    top: 88%;

}

.img4{
    position: absolute;
    width: 12%;
    left: 0%;
    top: 98.5%;

}

.img5{
    position: absolute;
    width: 12%;
    left: 93%;
    top: 25%;

} */


/* nav.fa{
    display: none;
}

@media(max-width: 700px){
    h1{
       font-size: 20px;
    }

    .nav-links ul li{
        display: block;
}
    .nav-links{
        position: absolute;
        background: #f44336;
        height: 100vh;
        width: 200px;
        top: 0;
        right: 0;
        text-align: left;
        z-index: 2;
    }
} */

