/* Настройки для кнопки аккордеона */
.accordion {
    display: flex;
    background-color: #D1D1D1;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 1.5rem;
    font-family: 'Tomorrow', sans-serif;
    transition: 0.4s;
    border-radius: 15px 15px 15px 15px;
}

/* Бэкграунд при наведении и активном состоянии, мб вообще убрать для active, выглядит посредственно */
.accordion:hover {
    background-color: #ccc;
}

.boxes {
    margin-top: 2rem;
    margin-bottom: 1.5rem;
}

/* Настройки для внутренности аккордеона */
.panel {
    font-size: 1rem;
    display: flex;
    flex-direction: column;
    padding: 0 45px;
    background-color: #D1D1D1;
    max-height: 0;
    overflow: hidden;
    border-radius: 0 0 15px 15px;
    transition: max-height 0.2s ease-out;
    margin-bottom: 10px;
    margin-top: -10.5px;
}

/*
Пример, потом удалить
<button class="accordion"> Аккордеон </button>
<div class="panel"><p> Lorem ipsum... </p></div>
 */

.selectedFont {
    border-radius: 4px;
    border: 2px solid black;
    font-size: 1rem;
    width: 200px;
    height: 1.5rem;
}

.toChange {
    font-family: Times New Roman;
}

#modal-btn {
    font-family: Quicksand, sans-serif;
    font-size: 24px;
    font-weight: bold;
    background: #EDB886;
    border-radius: 20px;
    border: 0;
    margin: 10px auto;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

#modal-btn span {
    margin: 0;
    font-size: 36px;
    color: #51317A;
    font-weight: bold;
}

:root {
    --modal-duration: 1s;
    --modal-color: #428bca;
}

.modal {
    display: none;
    position: fixed;
    z-index: 100;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.5);
}

/* Настройка фона при нажатии кнопки */

.modal-content {
    margin: 10% auto;
    width: 60%;
    box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 7px 20px 0 rgba(0, 0, 0, 0.17);
    animation-name: modalopen;
    animation-duration: var(--modal-duration);
}

.modal-header h2,
.modal-footer h3 {
    margin: 0;
}

.modal-header {
    background: var(--modal-color);
    padding: 15px;
    color: #fff;
    border-radius: 5px 5px 0 0;
}

.modal-body {
    padding: 10px 20px;
    background: #fff;
    border-radius: 0 0 5px 5px;
}

.close {
    float: right;
    font-size: 30px;
    color: #fff;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

@keyframes modalopen {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.fontSize {
    border-radius: 4px;
    border: 2px solid black;
    font-size: 1rem;
    width: 45px;
    margin-right: 0;
    margin-left: auto;

}

.content {
    width: 65%;
    min-height: 80vh;
    margin: 0 auto;
}

.box {
    margin-top: 25px;
    display: flex;
}


.toChangeFontColor, .toChangeBackgroundColor {
    margin-left: 5px;
    width: 25px;
    height: 25px;
}

.className {
    border-radius: 4px;
    border: 2px solid black;
    width: 100px;
    margin-left: 5px;
}

#header {
    background: #3BD2B6;
    height: 10vh;
    border-radius: 20px 20px 0 0;
}

#header img {
    width: 180px;
    height: 90px;
    margin-top: auto;
    margin-left: 80px;
}

#content {
    background: white;
    min-height: 65vh;
}

#footer {
    background: #333333;
    height: 7vh;
    border-radius: 0 0 20px 20px;
}

#wrap {
    width: 75%;
    min-height: 65vh;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: start;
}

.arrow {
    width: 2rem;
    height: 1.7rem;
    display: inline-block;
    position: relative;
    margin-top: 4px;
}

.arrow span {
    top: 0.5rem;
    position: absolute;
    width: 1.2rem;
    height: 0.1rem;
    background-color: black;
    display: inline-block;
    transition: all 0.2s ease;
}

.arrow span:first-of-type {
    left: 0;
    transform: rotate(45deg);
}

.arrow span:last-of-type {
    right: 0;
    transform: rotate(-45deg);
}

.arrow.active span:first-of-type {
    transform: rotate(-45deg);
}

.arrow.active span:last-of-type {
    transform: rotate(45deg);
}

.deleteTagBox {
    margin-left: auto;
    color: #000;
}

.deleteTagBox:hover,
.deleteTagBox:focus {
    color: #333;
    text-decoration: none;
    cursor: pointer;
}

.delbox {
    transition: 0.4s;
    width: 21px;
    height: 21px;
    border: 3px solid black;
    border-radius: 5px;
}

.delbox:hover {
    transition: 0.4s;
    background: crimson;
}

.delminus {
    margin: 7px auto;
    width: 13px;
    height: 3px;
    border: 2px solid black;
    border-radius: 5px;
    background: #D1D1D1;
}

.set {
    width: 45%;
    font-family: 'Raleway', sans-serif;
}

.add {
    width: 45%;
}

.val {
    margin-left: 2rem;
}

.toChangeFontColor {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border: none;
    background: #D1D1D1;
}

.firstLine {
    display: flex;
    padding: 5px;
}

.secondLine {
    display: flex;
    justify-content: space-between;
    padding: 5px;
}

.thirdLine {
    padding: 5px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 5px;
}

.boldChange {
    border: 2px solid black;
    width: 20px;
    height: 20px;
    margin-bottom: 0;
    margin-top: auto;
}

.cursiveChange {
    border: 2px solid black;
    width: 20px;
    height: 20px;
    margin-bottom: 0;
    margin-top: auto;
}

.colConnected {
    width: 60px;
}

.changeLanguage {
    margin-top: 0;
    margin-bottom: auto;
}

.JSONbtn {
    padding: 15px;
    font-family: Quicksand, sans-serif;
    font-size: 36px;
    font-weight: bold;
    background: #EDB886;
    border-radius: 35px;
    border: 0;
    margin: auto 0 35px auto;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}