body {
    background: #444444;
}
/* Настройки для кнопки аккордеона */
.accordion {
    background-color: #eee;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
    transition: 0.4s;
    border-radius: 10px 10px 0 0;
}
/* Бэкграунд при наведении и активном состоянии, мб вообще убрать для active, выглядит посредственно */
.active, .accordion:hover {
    background-color: #ccc;
}
/* Настройки для внутренности аккордеона */
.panel {
    padding: 0 18px;
    background-color: #dddddd;
    max-height: 0;
    overflow: hidden;
    border-radius: 0 0 10px 10px;
    transition: max-height 0.2s ease-out;
}
/*
Пример, потом удалить
<button class="accordion"> Аккордеон </button>
<div class="panel"><p> Lorem ipsum... </p></div>
 */