<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <title>3</title>
    <link href="https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Adamina&family=Manrope:wght@500;700&family=Quicksand:wght@300&display=swap" rel="stylesheet">
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css'  href='../static/css/dev.css'>
    <link rel='stylesheet' href='https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@5.15.4/css/fontawesome.min.css'>
</head>
<body>
    <section class="body1">
        <header>
            <nav>
                <a href="../Page 1/mainpage.html" class="Maker1">CssMaker</a>
                <div class="nav-links">
                    <!-- <i class="fa-solid fa-xmark"></i> -->
                    <ul>
                        <li><a href=''>наш продукт</a></li>
                        <li><a href='../Page 3/dev.html'>разработка</a></li>
                        <li><a href='../Page 2/team.html'>наша команда</a></li>
                        <li><a href=''>блог</a></li>
                        <li><a href=''>ссылки</a></li>

                        <!-- <li><a href='' class="ru1">ru</a></li> -->
                        <li><a href='' class="eng1">eng</a></li>
                    </ul>
                    
                </div>
                <!-- <i class="fa-solid fa-bars"></i> -->
            </nav>
        </header>

    <article>
            <div class="text-box">
                <h1 class="h1ee">Разработка ведеться полным ходом</h1>
            </div>
            <img src="img/img2.PNG" alt="Картинка" class="img1">


        <div class="text-box2">
            <p>Сейчас мы ведем разработку этого сайта  :) XDXDXD  Дальще хз че вставить. Аливье мы или, Аливье мы или. <br>Э мехабу будапеш калифанья. ТУДУ туду дуду , тудудудудудуду. </p>
        </div>
    </article>
             
            
    </section>

    <!-- Course -->

<!-- <img src="img/purple.png" alt="Картинка" class="img2"> 
<img src="img/purple.png" alt="Картинка" class="img3"> 
<img src="img/blue.png" alt="Картинка" class="img4"> 
<img src="img/orange.png" alt="Картинка" class="img5">  -->

</body>
</html>