<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset='utf-8'>
    <title>4</title>
    <link href="https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Adamina&family=Manrope:wght@500;700&family=Pangolin&family=Quicksand:wght@300&display=swap" rel="stylesheet">
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css'  href='css/down.css'>
    <link rel='stylesheet' type='text/css'  href='css/styleMAIN.css'>
    <link rel='stylesheet' href='https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@5.15.4/css/fontawesome.min.css'>
</head>
<body>
    <section class="body1">
        <header th:insert="mainpage.html :: header">
        </header>
    <article>
            <div class="text-box">
                <h1 class="h1ee">Ваши файлы готовы, нажмите <br>
                    кнопку ниже чтобы скачать</h1>
            </div>

            <aside>
                <a class="READ2" th:href="@{/download}">download</a>
             </aside>
            <img src="img/zip1.png" alt="Картинка" class="img1">
    </article>
             
            
    </section>

    <footer th:insert="mainpage.html :: footer">
    </footer>

</body>
</html>