<div id="prop1">
    <select class="selectedFont"></select>
</div>
<div id="prop2">
    <input type="number" class="fontSize"
           min="1" value="16" step="1"
           max="40">
</div>
<div id="prop3">
    <input type="checkbox" class="boldChange">
    <label style="font-weight: bold">B</label>
</div>
<div id="prop4">
    <input type="checkbox" class="cursiveChange">
    <label style="font-style: italic">I</label>
</div>
<div id="prop5">
    <label class="labelClassName" style="display: inline">Класс:<input type="text" class="className"></label>
</div>
<div id="prop6">
    <input type="color" class="toChangeFontColor" value="#000000">
    <input class="colConnected" type="text" value="#000000">
</div>
<div id="prop7">
    <label>Добавить элемент в css:</label>
    <input type="checkbox" checked class="needToDownload">
</div>
<div id="prop8">
    <button class="changeLanguage">eng</button>
</div>