<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <title>1</title>
    <link href="https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Adamina&family=Manrope:wght@500;700&family=Quicksand:wght@300&display=swap" rel="stylesheet">
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css'  href='../static/css/style.css'>
    <link rel='stylesheet' href='https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@5.15.4/css/fontawesome.min.css'>
</head>
<body>
    <section class="header">
            <nav>
                <a href="" class="Maker1">CssMaker</a>
                <div class="nav-links">
                    <!-- <i class="fa-solid fa-xmark"></i> -->
                    <ul>
                        <li><a href=''>the product</a></li>
                        <li><a href=''>material</a></li>
                        <li><a href=''>how we made it</a></li>
                        <li><a href=''>blog</a></li>
                        <li><a href=''>contact us</a></li>

                        <!-- <li><a href='' class="ru1">ru</a></li> -->
                        <li><a href='' class="eng1">eng</a></li>
                    </ul>
                    
                </div>
                <!-- <i class="fa-solid fa-bars"></i> -->
            </nav>

            <div class="text-box">
                <h1 class="h1ee">Создание  своих Css стилей</h1>
                <p>Мы помогаем нашей аудиторий удобно и быстро создавать стили CSS . <br> Вам не нужно даже знание языка.</p>
                <a class="READ" href="">Read More</a>
            </div>
            
            <div class="names">
            <img src="img/image 57.png" alt="Картинка" class="img1"> 
            <h2>Make <strong class="css1">CSS</strong></h2>
            <a class="READ2" href="">Let's Do It!</a>
            <!-- <a class="READ3" href="">Let's Do It!</a> -->
                <h3>Meet</h3>
                    <h4>CSS <strong class="html1">HTML</strong><br><strong class='js1'>JavaScript</strong></h4>
                    <img src="img/purple.png" alt="Картинка" class="img2"> 
                    <img src="img/purple.png" alt="Картинка" class="img3"> 
                    <img src="img/blue.png" alt="Картинка" class="img4"> 
                    <img src="img/orange.png" alt="Картинка" class="img5"> 
            
            
                </div>
    </section>

    <!-- Course -->
<section class="course">
    <h1> Бля не помню че сюда пойдет</h1>
    <p>Толи контакты какието то ли че. Даня Андрей приветы</p>

</section>

</body>
</html>