<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:fragment="headerfiles">
    <meta charset='utf-8'>
    <title>1</title>
    <link href="https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Adamina&family=Manrope:wght@500;700&family=Quicksand:wght@300&display=swap"
          rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Raleway:ital@0;1&family=Roboto&family=Tomorrow&display=swap"
          rel="stylesheet">
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet'
          href='https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@5.15.4/css/fontawesome.min.css'>
    <link rel='stylesheet' type='text/css' href='css/styleMAIN.css'>
    <link rel='stylesheet' type='text/css' href='css/quest.css'>
    <script src="js/jquery-3.6.0.js"></script>
</head>
<body>
<section class="body1">
    <div th:insert="mainpage.html :: header">
    </div>
    <div class="content">
        <datalist id="fontlist">
        </datalist>
        <div id="my-modal" class="modal">
            <div class="modal-content">
                <div class="modal-header">
                    <span class="close">&times;</span>
                    <h2>Добавить новый элемент</h2>
                </div>
                <div class="modal-body">
                    <div class="modalelem" style="display: flex;">
                        <button class="createptag" value="p">&lt;p&gt;</button>
                        <label>Текст параграфа. Новый параграф новая строка</label>
                    </div>
                    <div class="modalelem" style="display: flex;">
                        <button class="createptag" value="h1">&lt;h1&gt;</button>
                        <label>Оглавление первого уровня. Используется для громких заголовков</label>
                    </div>
                    <div class="modalelem" style="display: flex;">
                        <button class="createptag" value="h2">&lt;h2&gt;</button>
                        <label>Оглавление второго уровня. Используется для названий статей</label>
                    </div>
                    <div class="modalelem" style="display: flex;">
                        <button class="createptag" value="h3">&lt;h3&gt;</button>

                        <label>Оглавление третьего уровня. Используется для названий в статьях</label>
                    </div>
                    <div class="modalelem" style="display: flex;">
                        <button class="createptag" value="h4">&lt;h4&gt;</button>
                        <label>Оглавление четвертого уровня. Используется для названий</label>
                    </div>
                    <p>Новые элементы скоро...</p>
                </div>
            </div>
        </div>
        <div class="site">
            <div id="header">
                <img src="img/logo.png">
            </div>
            <div id="content">
                <div id="wrap">
                    <div class="boxes">
                        <div class="template" style="display: none">
                            <div class="set">
                                <button class="accordion"><span class="arrow"><span></span><span></span></span>
                                    <div class="deleteTagBox">
                                        <div class="delbox">
                                            <div class="delminus"></div>
                                        </div>
                                    </div>
                                </button>
                                <div class="panel">
                                    <div class="firstLine">
                                        <select class="selectedFont"></select>
                                        <input type="number" class="fontSize"
                                               min="1" value="16" step="1"
                                               max="40">
                                    </div>
                                    <div class="secondLine">
                                        <div>
                                            <input type="checkbox" class="boldChange"><label
                                                style="font-weight: bold">B</label>
                                            <input type="checkbox" class="cursiveChange"><label
                                                style="font-style: italic">I</label>
                                            <button class="changeLanguage">eng</button>
                                        </div>
                                        <label class="labelClassName" style="display: inline">Класс:<input type="text"
                                                                                                           class="className"></label>
                                    </div>
                                    <div class="thirdLine">
                                        <div>
                                            <input type="color" class="toChangeFontColor" value="#000000"><input
                                                class="colConnected" type="text" value="#000000"></div>
                                        <div><label>Добавить
                                            элемент в css:</label><input type="checkbox" checked class="needToDownload">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="val">
                            </div>
                        </div>
                    </div>
                    <div class="add">
                        <button type="button" id="modal-btn"><span>+</span>ADD</button>
                    </div>
                    <button onclick="sendI()" type="button" class="JSONbtn">Next step</button>
                    <label style="display: none">Фон<input type="color" class="toChangeBackgroundColor" value="#ffffff"></label>
                </div>
            </div>
            <div id="footer"></div>
        </div>
        <script type="text/javascript" src="js/sendinfo.js"></script>
        <script type="text/javascript" src="js/fontLoader.js"></script>
        <script type="text/javascript" src="js/sendJson.js"></script>
        <script type="text/javascript" src="js/tagCreate.js"></script>
        <script type="text/javascript" src="js/modal.js"></script>
        <script type="text/javascript" src="js/fontInjection.js"></script>
        <script type="text/javascript" src="js/fontChanger.js"></script>
        <script type="text/javascript" src="js/accordion.js"></script>
    </div>
</section>
<!-- Course -->
<div th:insert="mainpage.html :: footer">
</div>
<script>
    ready();
</script>
</body>
</html>