<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <title>2</title>
    <link href="https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Adamina&family=Manrope:wght@500;700&family=Quicksand:wght@300&display=swap" rel="stylesheet">
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css'  href='css/team.css'>
    <link rel='stylesheet' type='text/css' href='css/styleMAIN.css'>
    <link rel='stylesheet' href='https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@5.15.4/css/fontawesome.min.css'>
</head>
<body>
    <section class="body1">
        <div th:insert="mainpage.html :: header">
        </div>

    <article>
            <div class="text-box">
                <h1 class="h1ee">Этот сайт создан группой энтузиастов "IMLAPD":</h1>
                <p>Легендарным Андреем, Прекрасным Данилом и Изумительным Максимом.</p>
            </div>
         <div class="img111">
            <img src="img/Андрей.PNG" alt="Картинка" class="img1">
            <img src="img/Даня.PNG" alt="Картинка" class="img2">
            <img src="img/Макс.PNG" alt="Картинка" class="img3">
        </div>

        <div class="text-box2">
            <h2 class="h2ee">Стек  технологий:</h2>
            <p>Backend: JAVA (Spring boot), Frontend: HTML, CSS,  JavaScript (Jquery) </p>
        </div>

        <div class="text-box3">
            <h3 class="h3ee">Зачем был создан сайт:</h3>
            <p>Сайт создан исключительно в образовательных целях и (пока) не несет никаких коммерческих идей.</p>
        </div>

    </article>
             
            
    </section>

    <div th:insert="mainpage.html :: footer">
    </div>

</body>
</html>