<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <title>2</title>
    <link href="https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Adamina&family=Manrope:wght@500;700&family=Quicksand:wght@300&display=swap" rel="stylesheet">
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css'  href='css/team.css'>
    <link rel='stylesheet' href='https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@5.15.4/css/fontawesome.min.css'>
</head>
<body>
    <section class="body1">
        <header>
            <nav>
                <a href="../Page 1/mainpage.html" class="Maker1">CssMaker</a>
                <div class="nav-links">
                    <!-- <i class="fa-solid fa-xmark"></i> -->
                    <ul>
                        <li><a href=''>наш продукт</a></li>
                        <li><a href='../Page 3/dev.html'>разработка</a></li>
                        <li><a href='../Page 2/team.html'>наша команда</a></li>
                        <li><a href=''>блог</a></li>
                        <li><a href=''>ссылки</a></li>

                        <!-- <li><a href='' class="ru1">ru</a></li> -->
                        <li><a href='' class="eng1">eng</a></li>
                    </ul>
                    
                </div>
                <!-- <i class="fa-solid fa-bars"></i> -->
            </nav>
        </header>

    <article>
            <div class="text-box">
                <h1 class="h1ee">Этот сайт создан группой энтузиастов "IMLAPD":</h1>
                <p>Легендарным Андреем, Прекрасным Данилом и Изумительным Максимом.</p>
            </div>
         <div class="img111">
            <img src="img/Андрей.PNG" alt="Картинка" class="img1">
            <img src="img/Даня.PNG" alt="Картинка" class="img2">
            <img src="img/Макс.PNG" alt="Картинка" class="img3">
        </div>

        <div class="text-box2">
            <h2 class="h2ee">Стек  технологий:</h2>
            <p>Backend: JAVA (Spring boot), Frontend: HTML, CSS,  JavaScript (Jquery) </p>
        </div>

        <div class="text-box3">
            <h3 class="h3ee">Зачем был создан сайт:</h3>
            <p>Сайт создан исключительно в образовательных целях и (пока) не несет никаких коммерческих идей.</p>
        </div>

    </article>
             
            
    </section>

    <!-- Course -->

<!-- <img src="img/purple.png" alt="Картинка" class="img2"> 
<img src="img/purple.png" alt="Картинка" class="img3"> 
<img src="img/blue.png" alt="Картинка" class="img4"> 
<img src="img/orange.png" alt="Картинка" class="img5">  -->

</body>
</html>